* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Poppins', sans-serif;
}

body {
    /* display: flex;
    flex-direction: row;
    align-items: center; */
}

.start-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100vw;
    height: 100vh;
    background-image: url('./images/starwarscompbackground.jpg');
    /* padding-top: 3vh; */
}

.start-images {
    display: block;
    margin: 2vh auto;
}

.player-selection {
    display: flex;
    flex-direction: row;
}
.player-selection img {
    width: 70%;
    height: auto;
}

.players {
    margin: 0 8vw;
}

.active {
    visibility: visible;
}
.non-active {
    display: none !important;
}
.game-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    background-image: url('./images/darthvaderbackground.jpg');
    background-position: center;
    background-size: cover;
}

#sketch-holder {
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 80vh;
    padding: 3vh 0 5vw 4vw;
}

.score-counter {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
    margin-top: 35vh;
    margin-right: 10vw;
    background-image: url('./images/deathstarbackground.jpg');
    background-size: cover;
    width: 30%;
    height: 35%;
    font-family: 'ZCOOL XiaoWei', serif;
    color: white;
    text-align: center;
    font-size: 3.5em;
}

.your-score-img {
    background-image: url('./images/yourscore.png');
    width: 100%;
    height: 20%;
    background-size: cover;
}

.your-score {
    display: flex;
}

.start-game-btn {
}
