* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Poppins', sans-serif;
}

body {
    /* display: flex;
    flex-direction: row;
    align-items: center; */
}

.start-container {
    width: 100vw;
    height: 100vh;
    background-image: url('./images/darthvaderbackground.jpg');
    padding-top: 5vh;
}

.start-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose-hero {
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}
.choose-hero img {
    width: 50%;
    height: auto;
}

.player-selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 9vh;
    margin-left: 7vw;
}
.player-selection img {
    width: 70%;
    height: auto;
}

.players {
    margin: 0 8vw 0 0;
}

.non-active {
    display: none !important;
}
.game-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    background-image: url('./images/back2.jpg');
    background-position: center;
    background-size: cover;
}

#sketch-holder {
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 80vh;
    padding: 3vh 0 5vw 8vw;
}

.score-counter {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
    /* margin-top: 10vh; */
    margin-right: 10vw;
    background-image: url('./images/deathstarbackground.jpg');
    background-size: cover;
    width: 30%;
    height: 35%;
    font-family: 'ZCOOL XiaoWei', serif;
    color: white;
    text-align: center;
    font-size: 3.5em;
}

.your-score-img {
    background-image: url('./images/yourscore.png');
    width: 100%;
    height: 20%;
    background-size: cover;
}

.your-score {
    display: flex;
}

.game-over-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('./images/backgroundvaderover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.game-over-kid {
    margin-top: 55vh;
}

.game-over-kid img {
    width: 75%;
    height: auto;
}

.choose-hero-over {
    margin-top: 1vh;
}

.choose-hero-over img {
    width: 50%;
    height: auto;
}
