* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./images/darthvaderbackground.jpg');
    background-position: center;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
}

#sketch-holder {
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 80vh;
    padding: 3vh 0 5vw 4vw;
}

.score-counter {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 20vh;
    margin-right: 10vw;
    /* background-color: whitesmoke; */
    background-image: url('./images/deathstarbackground.jpg') */
    height: 300px;
    width: 400px;
}
